@import '../../styles/var/var.scss';

.assoc_image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.assoc_bloc {
  position: relative;
  width: fit-content;
  display: flex;

  &:nth-of-type(2) {
    margin-top: -3rem;
  }

  &:nth-of-type(3) {
    margin-top: -5rem;
  }
}

.assoc_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.assoc_container {
  display: flex;
  justify-content: space-evenly;

  button{
    font-family: $primaryFont;
    padding: 10px;
    background: $neonGreen;
    border: none;
    font-size: 18px;
    width: 200px;
    border-radius: 10px;

    a {
      color: #FFF;
    }
  }
}

.circle {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}
