// FONT variable
$primaryFont: 'Montserrat', sans-serif;

// COLORS variables
$neonGreen: #02C39A;

// alimentation
$lightPink: #F2B6CC;
$darkPink: #A5224D;

// énergie 
$lightYellow: #FEF5C4;
$darkYellow: #F4B200;

// déchets
$lightGreen: #C0EBD1;
$darkGreen: #37724F;

// déplacements
$lightBlue: #BDD6E9;
$darkBlue: #0041B3;

// DYI
$lightRed: #F3C1C2;
$darkRed: #D01717;

// travail
$lightOrange: #F5CEA9;
$darkOrange: #F27400;

$grey: #949494;