@import '../../App.scss';

.account {
  .page_title {
    font-size: 4.5rem;
  }

  h3 {
    position: absolute;
    margin: -9% 0 0 5rem;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      background-color: #FFE1A4;
      border-radius: 50%;
      padding: .5rem;
      margin-left: 1rem;
      padding: 2rem;
      margin-left: 18rem;
      position: absolute;
      z-index: -1;
    }

    &:after {
      content: "";
      background: url('../../assets/spritesheet.svg');
      @include bgIconCoord(8, 6, 6);
      width: 3rem;
      height: 3rem;
      margin-left: 1.5rem;
    }
  }
}