@import '../../styles/mixins/spritesheet.scss';
@import '../../styles/var/var.scss';

.account {
  display: grid;
  grid-template-columns: 1.5fr 1fr;

  @media screen and (max-width: 1023px) {
    display: block;
  }

  .title_account {
    position: absolute;
    top: 0;

    @media screen and (max-width: 798px) {
      position: static;
    }

    .page_title {
      font-size: 4.5rem;
      position: static;
      margin-top: 6rem;


      @media screen and (max-width: 798px) {
        text-align: center;
        margin: 0;
        font-size: 3rem;

      }
    }
  }

  .account_inner_bloc {
    margin-top: 1rem;
  }

  .page_subtitle {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &:before {
      content: "";
      background-color: #FFE1A4;
      border-radius: 50%;
      padding: .5rem;
      margin-left: 1rem;
      padding: 2rem;
      margin-left: 18rem;
      position: absolute;
      z-index: -1;
    }

    @media screen and (max-width: 1023px) {
      justify-content: center;
      position: relative;

      &:before {
        display: none;
      }

      &:after {
        margin-left: 0 !important;
      }
    }

    &:after {
      content: "";
      background: url('../../assets/spritesheet.svg');
      @include bgIconCoord(8, 6, 6);
      width: 3rem;
      height: 3rem;
      margin-left: 1.5rem;
    }
  }

  .account_inner_right {
    padding-left: 4rem;

    @media screen and (max-width: 1023px) {
      padding: 0;
    }

    h3 {
      color: $grey;
      font-weight: 500;
    }
  }

  .account_tab {
    display: flex;
    box-shadow: 0px 4px 12px rgba(112, 112, 112, 0.24);
    width: fit-content;
    border-radius: 44px;
    margin-bottom: 2rem;
    cursor: pointer;


    h3 {
      padding: .5rem;
      border-radius: 44px;
      width: 180px;
      text-align: center;
      transition: all ease-in-out .2s;
    }
  }

  .bloc_info {
    box-shadow: 0px 4px 12px rgba(144, 144, 144, 0.25);
    border-radius: 10px;
    width: 375.23px;
    height: 34rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1023px) {
      margin: 4rem auto 5rem;
    }
  }

  .avatar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: $grey;
    }

    input[type="file"] {
      opacity: 0;
      height: 4rem;
      width: 4rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media screen and (max-width: 1023px) {
    .defis_categ_container {
      max-width: unset;
      justify-content: center;
    }

    .defis_categ_right {
      display: flex;
      flex-direction: column;
      align-items: center;

      .total_points {
        margin:  1rem auto 0;
      }
    }

    .account_tab {
      margin: 1rem auto 2rem;
    }
  }
}