.recurrence {
  height: 500px;
  overflow: scroll;

  .defi {
    width: 36rem;
    height: 4rem;
    flex-direction: row;
    align-items: center;

    &:first-of-type {
      margin-top: 0;
    }

    .defi_text {
      color: #000;
      font-weight: bold;
      width: 56%;
    }
  }

  .defi_top {
    .defi_bfr:before {
      content: none;
    }

    div:last-child {
      height: 3.438rem;
      width: 3.438rem;
      font-size: 0.938rem;
    }  
  }

  .defi_bottom .defi_bfr:before {
    transform: rotate(-90deg);
  }
}

@media screen and (min-width: 786px) {
  .recurrence {
      margin: 0 7.563rem 2.563rem 0;
  }
}

@media screen and (max-width: 1023px) {
  .defi_text {
    width: auto !important;
    font-size: 15px !important;
  }

  .defi {
    width: 77% !important;
  }
}