@import './styles/styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: $primaryFont;
}

.page_title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 5rem 0 0 2rem;
  position: absolute;
  top: 0;
  @media(min-width: 600px){
    margin: 5rem 0 0 5rem;
  }
}

.dots_down {
  position: fixed;
  right: 0;
  bottom: 0;
}

img{
  max-width: 100%;
}