@import '../../../styles/mixins/spritesheet.scss';

$icons: 5, 9, 7, 10, 6, 11;

.defis_categ_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;  
  margin: 0 .5rem 2rem .5rem;
  position: relative;
  z-index: 1;
  flex-direction: column;

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: -3rem;
  }

  @each $icon in $icons {
    &:nth-of-type(#{index($icons, $icon)}) div:before {
      @include bgIconCoord($icon, 6, 6)
    }
  }

  > div { 
    position: absolute;
    top: 10%;
    padding: .5rem;
    
    &:before {
      content: "";
      display: block;
      background: url('../../../assets/spritesheet.svg');
    }
  }
}

@media screen and (min-width: 786px) {
  .defis_categ_bloc {
    margin: 0 1rem 2rem 1rem;
  }
}