@import '../../styles/var/var.scss';

.DefiDescription{
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.DefiDescription_part{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  p{
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

.DefiDescription_part_1 > div{
  padding: 5rem;
}

.DefiDescription_part_2{
  background: $lightGreen;
  align-items: center;

  h2{
    font-size: 1.7rem;
    font-weight: bold;
  }

  button{
    font-family: $primaryFont;
    padding: 10px;
    background: $neonGreen;
    border: none;
    color: #FFF;
    font-size: 18px;
    width: 200px;
    border-radius: 10px;
    margin: 100px 0;
    &:hover{
      cursor: pointer;
    }
    &:focus{
      outline: none;
    }
  }

  >div{
    color: $neonGreen;
    height: 5rem;
    width: 5rem;
    border: 3px dashed $neonGreen;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 5px;
  }
}