/* EXEMPLE */
/*

|| IF BACKGROUND MASK ||

.class{
	@include maskIconCoord(2,4,5);
}

*/
/* EXEMPLE */
/*

|| IF BACKGROUND MASK ||

.class{
	@include bgIconCoord(19, $col, $row)
}

*/
@media screen and (max-width: 1023px) {
  nav {
    box-shadow: 0px 4px 12px rgba(112, 112, 112, 0.25);
    border-radius: 13px;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    z-index: 9999;
    width: 95%;
  }
  nav ul {
    padding: 1rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
  }
  nav li:nth-of-type(1):before {
    mask-size: 600% auto;
    mask-position: 60% 0%;
  }
  nav li:nth-of-type(2):before {
    mask-size: 600% auto;
    mask-position: 40% 0%;
  }
  nav li:nth-of-type(3):before {
    mask-size: 600% auto;
    mask-position: 20% 0%;
  }
  nav li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    margin-top: -0.4rem;
  }
  nav li a {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: rotate(90deg);
  }
  nav li li:nth-of-type(1):before {
    mask-size: 600% auto;
    mask-position: 60% 0%;
  }
  nav li li:nth-of-type(2):before {
    mask-size: 600% auto;
    mask-position: 40% 0%;
  }
  nav li li:nth-of-type(3):before {
    mask-size: 600% auto;
    mask-position: 20% 0%;
  }
  nav li:first-of-type:before, nav li:nth-of-type(2):before {
    width: 2.3rem;
    height: 2.3rem;
  }
  nav li:before {
    content: "";
    background-color: black;
    width: 2rem;
    height: 1.8rem;
    mask: no-repeat center;
    mask-image: url("../../assets/spritesheet.svg");
    display: flex;
  }
  nav li:hover:nth-of-type(1) a {
    margin: 1rem 0;
  }
  nav li:hover:nth-of-type(2) a {
    margin: 3rem 0;
  }
  nav li:hover:nth-of-type(3) a {
    margin: 2.5rem 0;
  }
  nav li:hover:nth-of-type(4) a {
    margin: 2.3rem 0;
  }
  nav li:hover:before {
    background-color: #02C39A;
  }
  nav li:hover a {
    color: #02C39A;
    opacity: 1;
    max-height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    right: 2%;
    position: absolute;
    top: 2%;
    z-index: 1;
  }
  nav ul {
    display: flex;
    margin-top: 1rem;
  }
  nav ul li:not(:last-of-type) {
    margin-right: 2rem;
  }
  nav li {
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
  }
  nav li a {
    color: #02C39A;
    font-weight: 600;
  }
  nav li:hover {
    background-color: #02C39A;
  }
  nav li:hover a {
    color: #fff;
  }
}
.logo-app {
  width: 6.5rem;
  display: none;
}
@media screen and (min-width: 1024px) {
  .logo-app {
    margin-left: 2rem;
    left: 0;
    transform: translateX(0);
    display: block;
    position: absolute;
    top: 1%;
    z-index: 1;
  }
}

.logo_mobile_bloc {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.logo_mobile_bloc .logo_mobile {
  margin-top: 1rem;
  width: 3rem;
}
@media screen and (min-width: 1024px) {
  .logo_mobile_bloc {
    display: none;
  }
}

/*# sourceMappingURL=routing.css.map */
