@import '../../styles/mixins/spritesheet.scss';

nav {
  width: fit-content;
  box-shadow: 0px 4px 12px rgba(112, 112, 112, 0.25);
  border-radius: 13px;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);

  ul {
    padding: 1rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    margin: 1rem 0;

    a {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: all .3s ease-in-out;
      transform: rotate(90deg);
    }

    &:first-of-type {
      &:before {
        @include maskIconCoord(4,6,6);
        width: 2.3rem;
        height: 2.3rem;  
      }
    }

    &:nth-of-type(2) {

      &:before {
        @include maskIconCoord(3,6,6);
        width: 2.3rem;
        height: 2.3rem;   
      }
    }

    &:nth-of-type(3) {

      &:before {
        @include maskIconCoord(1,6,6);
      }
    } 

    &:last-of-type {

      &:before {
        @include maskIconCoord(2,6,6);
      }
    }
    
    &:before {
      content: "";
      background-color: black;
      width: 2rem;
      height: 1.8rem;
      mask: no-repeat center;
      mask-image: url('../../assets/spritesheet.svg');
    }
    
  }

  li:hover {
    &:before {
      background-color: #02C39A;
    }

    a {
      color: #02C39A;
      opacity: 1;
      max-height: 500px;
    }

    &:first-of-type {
      a {
        margin: 1rem 0;
      }
    }

    &:nth-of-type(2) {
      a {
        margin: 3rem 0;
      }
    }

    &:nth-of-type(3) {
      a {
        margin: 2.5rem 0;
      }
    } 

    &:last-of-type {
      a {
        margin: 2rem 0;

      }
    }
  }
}